@page "/login"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorage
<PageTitle>OAuth 2.0 and MFA - Login to Google</PageTitle>
<MudGrid>
  <MudItem xs="12">
    &nbsp;
  </MudItem>
  <MudItem xs="3">
    &nbsp;
  </MudItem>
  <MudItem xs="6">
    <MudPaper Elevation="8" Outlined="true">
      <MudGrid>
        <MudItem xs="12">
          <MudText Align="Align.Center" Typo="Typo.body2" Style="font-family: Verdana, Tahoma; font-size: 20px; color: blue">Login to <i>Computer Science in Marathi</i> !</MudText>
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="12">
          &nbsp;
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="3">
        </MudItem>
        <MudItem xs="6">
          <MudLink Href="https://www.youtube.com/&#64;computerscienceinmarathi" title="Computer Science in Marathi" Target="_blank"> <MudImage Src="/images/csim.png" Style="height: 100%; width: 100%" /></MudLink>
        </MudItem>
        <MudItem xs="3">
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="12">
          &nbsp;
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="12">
          <MudText Style="font-family: Verdana, Tahoma; font-size: 14px; align-content:center; text-align: center;" Typo="Typo.body2">संगणक शास्त्र शिकण्यातील भाषेचा  अडथळा  दूर करण्याचा एक प्रामणिक प्रयत्‍न.</MudText>
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="12">
          &nbsp;
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="3">
          &nbsp;
        </MudItem>
        <MudItem xs="6">
          <div class="g_id_signin"></div>
        </MudItem>
        <MudItem xs="3">
          &nbsp;
        </MudItem>
      </MudGrid>
      <MudGrid>
        <MudItem xs="3">
        </MudItem>
        <MudItem xs="6">
        </MudItem>
        <MudItem xs="3">
        </MudItem>
      </MudGrid>
    </MudPaper>
  </MudItem>
  <MudItem xs="3">
  </MudItem>
  <MudItem xs="12">
  </MudItem>
</MudGrid>

@code {

  /// <summary>
  /// Renders the button.
  /// </summary>
  /// <param name="firstRender">True by default, passed by the framework</param>
  /// <returns></returns>
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      var objRef = DotNetObjectReference.Create(this);
      await jsRuntime.InvokeVoidAsync("initializeGoogleInterop", objRef);
      await jsRuntime.InvokeVoidAsync("forceRenderGoogleButton");
    }
  }

  /// <summary>
  ///
  /// </summary>
  /// <param name="name">On successful login to Google, it sends back this information.</param>
  /// <param name="email"></param>
  /// <param name="picture"></param>
  /// <returns></returns>
  [JSInvokable]
  public async Task SetUser(string name, string email, string picture)
  {
    Console.WriteLine("SetUser called in Login page");
    await localStorage.SetItemAsync("name", name);
    await localStorage.SetItemAsync("email", email);
    await localStorage.SetItemAsync("picture", picture);
    StateHasChanged();
    navigationManager.NavigateTo("/");
    await Task.CompletedTask;
  }
}
