@page "/MFAApps"
<PageTitle>OAuth 2.0 and MFA - List of apps</PageTitle>
<MudGrid>
  <MudItem xs="12">
    <h3>List of Multi-factor Authentication (MFA) Apps with Timebased OTP (TOTP)</h3>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/ga-app.png" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Google Authenticator</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/ma-app.webp" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://www.microsoft.com/en-us/security/mobile-authenticator-app">Microsoft Authenticator</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/authy-app.png" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://authy.com/download/">Authy by Twilio</MudLink>
  </MudItem>

  <MudItem xs="4">
    <MudImage Src="images/bitwarden-app.webp" Height="40" Width="50" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://bitwarden.com/download/">Bitwarden Authenticator</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/1pwd-app.webp" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://1password.com/downloads/">1Password</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/OIP.webp" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://www.dashlane.com/download">Dashlane Authenticator</MudLink>
  </MudItem>

  <MudItem xs="4">
    <MudImage Src="images/lp-app.webp" Height="40" Width="50" />&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://lastpass.com/misc_download2.php">LastPass Authenticator</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/2fas-app.webp" Height="40" Width="30" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://2fas.com/">2FAS</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/aegis-app.jpg" Height="50" Width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://getaegis.app/">Aegis Authenticator</MudLink>
  </MudItem>

  <MudItem xs="4">
    &nbsp;&nbsp;<MudImage Src="images/duo-app.webp" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://duo.com/product/multi-factor-authentication-mfa/duo-mobile-app">Duo Mobile</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/raivo-app.jpg" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://github.com/raivo-otp/ios-application">Raivo OTP</MudLink>
  </MudItem>
  <MudItem xs="4">
    <MudImage Src="images/fotp-app.jpg" Height="40" Width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
    <MudLink Target="_blank" Href="https://freeotp.github.io/">FreeOTP</MudLink>
  </MudItem>

</MudGrid>